@charset "utf-8";
/* CSS Document */

*{list-style: none;}


body{margin:0 auto;font-family:AppleSDGothicNeoM00; }

#first{background-color:#FCF4EF;width: 100%;height: 1200px}

#logo .logoimage{width:223px;height:36px;text-align:left;margin-top:40px;}
#section{width:100%;}



.top_main{width:1080px;height:1200px;margin:0 auto;}

.top_main .tit{width:1080px;;margin:0 auto;z-index: 1}s
.background{text-align:right;}
.background img{width:360px;height:400px;background-size: cover;position:relative; z-index:9 !important;padding-bottom:25px;float:right;margin-right: 120px;}
.tit text{font-size:18px;font-weight: 400;color:#646464;position:absolute;text-align:center;width:1080px;margin:80px auto;}
.tit h3{font-size:28px;font-weight: 600;color:black;margin:0 auto;text-align: center}
.tit h3 b{font-weight:900;}
.tit span{margin-bottom:40px;text-align: center}

#second{width:100%;margin:0 auto;}

.video{width:1080px;height: 900px; margin:0 auto;}

#vid{width:1080px;height:700px;margin:0 auto;margin-top: -170px;}
	







#second{width:100%;height:1600px;background-color: #FCFCFC;}
.two{margin:0 auto;text-align: center;}
.title{text-align: center;font-size:28px;}

#second .title_02{margin-top:-90px;}
.second_top{width:1080px;height: 1600px;margin:0 auto;}

.title_02 h2{padding-top:120px;font-size:28px;margin-bottom: -14px;color:black;}
.title_02{font-size:18px;color:#646464}

.tire{width:900px;height:520px;margin:0 auto;}


.parent{
    width: 100%; 
    margin: 10px auto;
	margin:0 auto;
	padding-top:20px;
}

.parent .sun{width:100%;margin:0 auto;}

.fi {
   
    float: left;
    width:450px;
	height:200px;
    box-sizing: border-box;
	text-align: left;
	box-shadow: 5px 5px 30px #D5D5D5;
	border-radius: 20px 20px 40px;
	margin:0 auto;
	margin-left:70px;
}

.fi ul{font-size: 20px;padding-top:20px;margin-left:-10px;}
.fi h5{font-size:24px;font-weight:800; display: inline;
margin-left:5px;font-family:AppleSDGothicNeoM00; 
	 vertical-align: center;

}

.fi p{font-size: 24px;
line-height:28px;
font-weight:500;}
.fi img{width:30px;height:30px;vertical-align: center; vertical-align:top;}

.drive{;display: inline;}
.top_one{vertical-align:top;}






.second{
	
    width: 450px;
    margin: 10px auto;
	margin:0 auto;
	padding-top:20px;
	background-color:#FCFCFC;
	float:right;
	height:200px;
    box-sizing: border-box;
	text-align: left;
	box-shadow: 5px 5px 30px #D5D5D5;
	border-radius:  20px 20px  40px;
	margin:0 auto;
	margin-right: 70px;
}


.two ul{font-size: 20px;padding-top:20px;margin-left:-10px;}
.second .two h5{font-size:24px;font-weight:800; display: inline;
margin-left:-290px;font-family:AppleSDGothicNeoM00; 
	 vertical-align: center;

}

.second .two p{
font-size: 24px; 
line-height:28px;
font-weight:500;
width:318px;
	margin-left:-20px;
}
.second .two img{width:30px;height:30px; vertical-align:top;float:left}

.drive{;display: inline;}
.top_two{vertical-align:top;
}



.third{
   
    float: left;
    width:450px;
	height:200px;
    box-sizing: border-box;
	text-align: left;
	box-shadow: 5px 5px 30px #D5D5D5;
	border-radius: 20px 20px 40px;
	margin:0 auto;
	margin-left:70px;
	MARGIN-TOP:20px
}

.tree ul{font-size: 20px;padding-top:20px;margin-left:-10px;}
.tree h5{font-size:24px;font-weight:800; display: inline;
margin-left:5px;font-family:AppleSDGothicNeoM00; 
	 vertical-align: center;

}

.third .tree p{
font-size: 24px;
line-height:28px;
font-weight:500;
width:290px;
	margin-left:-5px;
}
.third .tree img{width:30px;height:30px; vertical-align:top;}

.drive{;display: inline;}
.top_three{vertical-align:top;
margin-left:-30px;}

.third{
    
    float: left;

    box-sizing: border-box;
}


.fourd{
   
       width: 450px;
    margin: 10px auto;
	margin:0 auto;
	padding-top:20px;
	background-color:#FCFCFC;
	float:right;
	height:200px;
    box-sizing: border-box;
	
	box-shadow: 5px 5px 30px #D5D5D5;
	border-radius:  20px 20px  40px;
	margin:0 auto;
	margin-right: 70px;
	margin-top:20px;
}

.fourd{
    
 
    box-sizing: border-box;
}


.fourd .four p{
font-size: 24px;
line-height:28px;
font-weight:500;
width:290px;
	margin-left:-5px;
	text-align: left
}
.fourd .four img{width:30px;height:30px; vertical-align:top;float:left;}


.top_four{vertical-align:top;
}

.fourd{
    
  
    box-sizing: border-box;
}
.four{margin-top:-0px;}
.four ul{font-size: 20px;;margin-left:-10px;}
.four h5{font-size:24px;font-weight:800; display: inline;
margin-left:-330px;font-family:AppleSDGothicNeoM00; 
	vertical-align: center;}
	

.fived{
   
    float: left;
    width:450px;
	height:200px;
    box-sizing: border-box;
	text-align: left;
	box-shadow: 5px 5px 30px #D5D5D5;
	border-radius: 20px 20px 40px;
	margin:0 auto;
	margin-left:70px;
	MARGIN-TOP:20px
}

.five{
    
    float: left;
    box-sizing: border-box;
}


.fived .five p{
font-size: 24px;
line-height:28px;
font-weight:500;
width:290px;
	margin-left:-5px;
}
.fived .five img{width:30px;height:30px; vertical-align:top;}


.top_five{vertical-align:top;
}

.fived{
    
    float: left;
    box-sizing: border-box;
}

.five ul{font-size: 20px;padding-top:20px;margin-left:-10px;}
.five h5{font-size:24px;font-weight:800; display: inline;
margin-left:5px;font-family:AppleSDGothicNeoM00; 
	vertical-align: center;}
	
	
.sixed{
   
      width: 450px;
    margin: 10px auto;
	margin:0 auto;
	padding-top:20px;
	background-color:#FCFCFC;
	float:right;
	height:200px;
    box-sizing: border-box;
	text-align: left;
	box-shadow: 5px 5px 30px #D5D5D5;
	border-radius:  20px 20px  40px;
	margin:0 auto;
	margin-right: 70px;
	margin-top:20px;
}

.six{
    
    float: left;
    box-sizing: border-box;
}


.sixed .six p{
font-size: 24px;
line-height:28px;
font-weight:500;
width:290px;
	margin-left:-5px;
}
.sixed .six img{width:30px;height:30px; vertical-align:top;}


.top_six{vertical-align:top;
}

.sixed{
    
   
    box-sizing: border-box;
}
.six{margin-top: -0px;}

.six ul{font-size: 20px;padding-top:20px;margin-left:-10px;}
.six h5{font-size:24px;font-weight:800; display: inline;
margin-left:5px;font-family:AppleSDGothicNeoM00; 
	vertical-align: center;}
	

.sam{width:1080px;height:850px;margin:0 auto;background-color:white;height:100vh}
.three_main{width:1080px;margin:0 auto;}

.sam .sam_title{font-size:18px;text-align: center;color:#646464;font-weight: 400}

.sam .sam_title h3{font-size:28px;padding-top:80px;margin-bottom: 10px;color:black;
font-weight: 800;}

.sam_image img{width:800px;height: 650px;margin:0 auto;margin-top:40px;}



.box3{
    width: 1080px;
    margin: 10px auto;
	height: 700px;
	margin:0 auto;
	padding-top:20px;
	background-color:white;
	padding-bottom:200px; 
}



.top_seven{width:1080px;height:400px;
	background-color:white;margin:0 auto;

}

.top_seven img{width:800px;height: 320px;
	margin:0 auto;
margin-left:130px;}






.mycar{width:100%;height:700px;margin:0 auto;background-color:#fcfcfc;margin-top:300px;}


.mycar .mycar_title{font-size:18px;text-align: center;color:#646464;font-weight: 400}

.mycar .mycar_title h3{font-size:28px;padding-top:80px;margin-bottom: 10px;color:black;
font-weight: 800;}





.box4{
    width: 1080px;
    margin:0 auto;
	height: 700px;
	margin-top:500px;
	background-color:#f2f2f2 #000000;
}



.mycar_seven{width:1080px;height: 60vh;
	margin:0 auto
}

.mycar_seven img{width:800px;
	height:500px;padding-top:100px;float:left;
}



.mycar_seven ul{font-size: 20px;padding-top:20px;margin-left:-10px;}
.mycar_seven h5{font-size:24px;font-weight:800; display: inline;
margin-left:5px;font-family:AppleSDGothicNeoM00; 
	vertical-align: center;}




.mygas{width:100%;height:70vh;margin:0 auto;background-color:white;}
.mygas_main{width:50%;margin:0 auto;}

.mygas .mygas_title{font-size:18px;text-align: center;color:#646464;font-weight: 400}

.mygas .mygas_title h3{font-size:28px;padding-top:80px;margin-bottom: 10px;color:black;
font-weight: 800;}

.mygas_image img{width:100%;height: 90%;margin:60px auto;}



.box5{
    width: 100%;
    margin:0 auto;
	margin-top:100px;
	background-color:#f2f2f2 #000000;
}



.mygas_seven{width:1080px;height: 700px;
	margin:0 auto
}

.mygas_seven img{width:800px;
	height: 500px;padding-top:80px;
	float:right;
}


.box6{
    width: 100%;
    margin:0 auto;
	margin-top:100px;
	background-color:#fcfcfc;
	height:700px
}



.myweather_seven{width:1080px;height: 700px;
	margin:0 auto
}

.myweather_seven img{width:800px;
	height: 500px;padding-top:80px;float: left;
}


.myweather{width:100%;height:70vh;margin:0 auto;background-color:white;}
.myweather_main{width:50%;margin:0 auto;}

.myweather .myweather_title{font-size:18px;text-align: center;color:#646464;font-weight: 400}

.myweather .myweather_title h3{font-size:28px;padding-top:80px;margin-bottom: 10px;color:black;
font-weight: 800;}

.myweather_image img{width:100%;height: 90%;margin:60px auto;}




.box7{
    width: 100%;
    margin:0 auto;
	margin-top:100px;
	background-color:white;
}



.myride_seven{width:1080px;height:700px;
	margin:0 auto;
}

.myride_seven img{width:800px;
	height:500px;padding-top:80px;float:right;
}



.myride_main{width:1080px;margin:0 auto;}

.myride .myride_title{font-size:18px;text-align: center;color:#646464;font-weight: 400}

.myride .myride_title h3{font-size:28px;padding-top:80px;margin-bottom: 10px;color:black;
font-weight: 800;}

.myride_image img{width:100%;height: 90%;margin:60px auto;}






.myfilter_seven{width:1080px;height:700px;
	margin:0 auto
}

.myfilter_seven img{width:800px;
	height:600px;padding-top:80px;
}


.myfilter{width:100%;height:70vh;margin:0 auto;background-color:white;}
.myfilter_main{width:50%;margin:0 auto;}

.myfilter .myfilter_title{font-size:18px;text-align: center;color:#646464;font-weight: 400}

.myfilter .myfilter_title h3{font-size:28px;padding-top:80px;margin-bottom: 10px;color:black;
font-weight: 800;}

.myfilter_image img{width:500px;height:700px;margin:60px auto;
float:left;}



.box8{
    width: 100%;
    margin:0 auto;
	margin-top:100px;
	height:700px;
	background-color:#fcfcfc;
}



.myfilter_seven{width:1080px;height:700px;
	margin:0 auto
}

.myfilter_seven img{width:800px;
	height:500px;padding-top:80px;float: left;
}




.myaccident_seven{width:1080px;height:700px;
	margin:0 auto
}

.myaccident_seven img{width:850px;
	height: 600px;padding-top:80px;float: right;
}



.myaccident_main{width:50%;margin:0 auto;}

.myaccident .myaccident_title{font-size:18px;text-align: center;color:#646464;font-weight: 400}

.myaccident .myaccident_title h3{font-size:28px;padding-top:80px;margin-bottom: 10px;color:black;
font-weight: 800;}

.myaccident_image img{width:100%;height:90%;margin:60px auto;}



.box9{
    width: 100%;
    margin:0 auto;
	margin-top:100px;
	background-color:white;
}





.myhome_seven img{width:800px;
	height: 600px;padding-top:47px;float:left;
}



.myhome_seven{width:1080px;height: 632px;
	margin:0 auto
}




.myhome{width:100%;height:70vh;margin:0 auto;background-color:white;}
.myhome_main{width:50%;margin:0 auto;}

.myhome .myhome_title{font-size:18px;text-align: center;color:#646464;font-weight: 400}

.myhome .myhome_title h3{font-size:28px;padding-top:80px;margin-bottom: 10px;color:black;
font-weight: 800;}

.myhome_image img{width:100%;height:90%;margin:60px auto;}



.box10{
    width: 100%;
    margin:0 auto;
	margin-top:100px;
	background-color:#fcfcfc;
	height: 70vh
}




.myhome_seven{width:1080px;height:700px;
	margin:0 auto
}



.bbutton{width:1080px;height:500px;margin:0 auto;background-color:white}
.bbutton .bt{width:1080px;height: 500px; margin:0 auto}
.bbutton .bt img{width:500px;height:120px;text-align: center;margin:150px auto;margin-left: 300px}




.footer{width:100%;height:500px;background-color:#EBEBEB;margin: 0 auto;}

.footer_logo{width:1080px;height:500px;margin:0 auto;}

.footer img{width: 223px;
    height: 36px; margin-top:95px;float: left;}

.text ul{width: 700px;height: 200px;float: right}

.footer ul li{float:right; display: inline-block;font-size:20px;color:black;fonst-weight: 500;margin-top: 85px;margin-right: 20px}

.footer p{width: 1080px; font-size: 22px;display: inline-block;text-align: center;margin-top:110px;margin: 40px auto;}


