@charset "utf-8";
/* CSS Document */

*{list-style: none;}


body{margin:0 auto;font-family:AppleSDGothicNeoM00; }

#first{background-color:#FCF4EF;}

#logo .logoimage{width:200px;height:35px;text-align:left;margin-top:40px;}
#section{width:100%;}
#first{width: 100%;height:120vh;margin:0 auto;}
#main{width:50%;height:60vh;margin:0 auto;
font-family:AppleSDGothicNeoM00;}

.tit{width:50%;margin:0 auto;}
.background{text-align: right;width:100%;}
.background img{width:360px;height:400px;background-size: cover;position:relative; z-index:5;text-align:right;margin-right:60px;padding-bottom:25px;}
.background .tit{margin:0 auto;}
.tit text{font-size:18px;font-weight: 400;color:#646464;position:absolute;margin-top:-350px;text-align: center;}
.tit h3{font-size:28px;font-weight: 600;color:black;margin:0 auto;}
.tit h3 b{font-weight:900;}
.tit span{margin-bottom:40px;}

#second{width:100%;margin:0 auto;}

.video #vid{
width:100%}

#first .video #vid{}

#vid{width:50%;height:600px;margin:0 auto;
margin-top:-240px;}

.video p{color:#FF6326;font-size:20px;font-weight: 800;border-bottom:2px solid #FF6326;text-align:center;width: 155px;font-family: AppleSDGothicNeoM00;
margin:0 auto;
margin-top:20px;
z-index: 1}


.video p img{width:20px;height:20px;margin-right: 5px;}


#second{width:100%;height:155vh;background-color: #FCFCFC;}
.two{width:50%;height:20%;margin:0 auto;text-align: center;}
.title{text-align: center;font-size:28px;}

#second .title_02{margin-top:-90px;}

.title_02 h2{padding-top:120px;font-size:28px;margin-bottom: -14px;color:black;}
.title_02{font-size:18px;color:#646464}

.tire{width:95%;height:90%;margin:0 auto;}


.parent{
    width: 100%;
    margin: 10px auto;
	margin:0 auto;
	padding-top:20px;
}

.parent .sun{width:100%;margin:0 auto;}

.fi {
   
    float: left;
    width:45%;
	height:200px;
    box-sizing: border-box;
	text-align: left;
	box-shadow: 5px 5px 30px #D5D5D5;
	border-radius: 5% 5% 40px;
	margin:0 auto;
}

.fi ul{font-size: 20px;padding-top:20px;margin-left:-10px;}
.fi h5{font-size:24px;font-weight:800; display: inline;
margin-left:5px;font-family:AppleSDGothicNeoM00; 
	 vertical-align: center;

}

.fi p{font-size: 24px;
line-height:28px;
font-weight:500;}
.fi img{width:30px;height:30px;vertical-align: center; vertical-align:top;}

.drive{;display: inline;}
.top_one{vertical-align:top;}






.second{
	margin-left:5%;
    width: 45%;
    margin: 10px auto;
	margin:0 auto;
	padding-top:20px;
	background-color:#FCFCFC
}

.second{
   
    float: left;
    width:45%;
	height:200px;
    box-sizing: border-box;
	text-align: left;
	box-shadow: 5px 5px 30px #D5D5D5;
	border-radius: 5% 5% 40px;
	margin:0 auto;
}

.two ul{font-size: 20px;padding-top:20px;margin-left:-10px;}
.two h5{font-size:24px;font-weight:800; display: inline;
margin-left:5px;font-family:AppleSDGothicNeoM00; 
	 vertical-align: center;

}

.second .two p{
font-size: 24px; 
line-height:28px;
font-weight:500;
width:318px;
	margin-left:-20px;
}
.second .two img{width:30px;height:30px; vertical-align:top;}

.drive{;display: inline;}
.top_two{vertical-align:top;
margin-left:-40px;}

.second{
    
    float: left;
    margin-left: 5%;

    box-sizing: border-box;
}


.third{
   
    float: left;
    width:45%;
	height:200px;
    box-sizing: border-box;
	text-align: left;
	box-shadow: 5px 5px 30px #D5D5D5;
	border-radius: 5% 5% 40px;
	margin:0 auto;
	margin-top:20px;
}

.tree ul{font-size: 20px;padding-top:20px;margin-left:-10px;}
.tree h5{font-size:24px;font-weight:800; display: inline;
margin-left:5px;font-family:AppleSDGothicNeoM00; 
	 vertical-align: center;

}

.third .tree p{
font-size: 24px;
line-height:28px;
font-weight:500;
width:290px;
	margin-left:-5px;
}
.third .tree img{width:30px;height:30px; vertical-align:top;}

.drive{;display: inline;}
.top_three{vertical-align:top;
margin-left:-30px;}

.third{
    
    float: left;

    box-sizing: border-box;
}


.fourd{
   
    float: left;
    width:45%;
	height:200px;
    box-sizing: border-box;
	text-align: left;
	box-shadow: 5px 5px 30px #D5D5D5;
	border-radius: 5% 5% 40px;
	margin:0 auto;
	margin-top:20px;
}

.fourd{
    
    float: left;
    box-sizing: border-box;
}


.fourd .four p{
font-size: 24px;
line-height:28px;
font-weight:500;
width:290px;
	margin-left:-5px;
}
.fourd .four img{width:30px;height:30px; vertical-align:top;}


.top_four{vertical-align:top;
}

.fourd{
    
    float: left;
    box-sizing: border-box;margin-left: 5%;
}

.four ul{font-size: 20px;padding-top:20px;margin-left:-10px;}
.four h5{font-size:24px;font-weight:800; display: inline;
margin-left:5px;font-family:AppleSDGothicNeoM00; 
	vertical-align: center;}
	

.fived{
   
    float: left;
    width:45%;
	height:200px;
    box-sizing: border-box;
	text-align: left;
	box-shadow: 5px 5px 30px #D5D5D5;
	border-radius: 5% 5% 40px;
	margin:0 auto;
	margin-top:20px;
}

.five{
    
    float: left;
    box-sizing: border-box;
}


.fived .five p{
font-size: 24px;
line-height:28px;
font-weight:500;
width:290px;
	margin-left:-5px;
}
.fived .five img{width:30px;height:30px; vertical-align:top;}


.top_five{vertical-align:top;
}

.fived{
    
    float: left;
    box-sizing: border-box;
}

.five ul{font-size: 20px;padding-top:20px;margin-left:-10px;}
.five h5{font-size:24px;font-weight:800; display: inline;
margin-left:5px;font-family:AppleSDGothicNeoM00; 
	vertical-align: center;}
	
	
.sixed{
   
    float: left;
    width:45%;
	height:200px;
    box-sizing: border-box;
	text-align: left;
	box-shadow: 5px 5px 30px #D5D5D5;
	border-radius: 5% 5% 40px;
	margin:0 auto;
	margin-top:20px;
}

.six{
    
    float: left;
    box-sizing: border-box;
}


.sixed .six p{
font-size: 24px;
line-height:28px;
font-weight:500;
width:290px;
	margin-left:-5px;
}
.sixed .six img{width:30px;height:30px; vertical-align:top;}


.top_six{vertical-align:top;
}

.sixed{
    
    float: left;
    box-sizing: border-box;margin-left: 5%;
}

.six ul{font-size: 20px;padding-top:20px;margin-left:-10px;}
.six h5{font-size:24px;font-weight:800; display: inline;
margin-left:5px;font-family:AppleSDGothicNeoM00; 
	vertical-align: center;}
	

.sam{width:100%;height:100vh;margin:0 auto;background-color:white;height:100vh}
.three_main{width:50%;margin:0 auto;}

.sam .sam_title{font-size:18px;text-align: center;color:#646464;font-weight: 400}

.sam .sam_title h3{font-size:28px;padding-top:80px;margin-bottom: 10px;color:black;
font-weight: 800;}

.sam_image img{width:100%;height: 90%;margin:0 auto;}



.box3{
    width: 100%;
    margin: 10px auto;
	height: 60vh;
	margin:0 auto;
	padding-top:20px;
	background-color:white;
	padding-bottom:200px; 
}



.top_seven{width:50%;height: 60vh;
	background-color:white;margin:0 auto
}

.top_seven img{width:100%;padding-bottom: 00px}



.seven ul{font-size: 20px;padding-top:20px;margin-left:-10px;}
.seven h5{font-size:24px;font-weight:800; display: inline;
margin-left:5px;font-family:AppleSDGothicNeoM00; 
	vertical-align: center;}



.mycar{width:100%;height:70vh;margin:0 auto;background-color:#fcfcfc;margin-top:300px;}
.mycar_main{width:50%;margin:0 auto;}

.mycar .mycar_title{font-size:18px;text-align: center;color:#646464;font-weight: 400}

.mycar .mycar_title h3{font-size:28px;padding-top:80px;margin-bottom: 10px;color:black;
font-weight: 800;}

.mycar_image img{width:100%;height:60%;margin:60px auto;}



.box4{
    width: 100%;
    margin:0 auto;
	height: 70vh;
	margin-top:500px;
	background-color:#f2f2f2 #000000;
}



.mycar_seven{width:50%;height: 60vh;
	margin:0 auto
}

.mycar_seven img{width:100%;
	height: 60vh;padding-top:100px;
}



.mycar_seven ul{font-size: 20px;padding-top:20px;margin-left:-10px;}
.mycar_seven h5{font-size:24px;font-weight:800; display: inline;
margin-left:5px;font-family:AppleSDGothicNeoM00; 
	vertical-align: center;}




.mygas{width:100%;height:70vh;margin:0 auto;background-color:white;}
.mygas_main{width:50%;margin:0 auto;}

.mygas .mygas_title{font-size:18px;text-align: center;color:#646464;font-weight: 400}

.mygas .mygas_title h3{font-size:28px;padding-top:80px;margin-bottom: 10px;color:black;
font-weight: 800;}

.mygas_image img{width:100%;height: 90%;margin:60px auto;}



.box5{
    width: 100%;
    margin:0 auto;
	margin-top:100px;
	background-color:#f2f2f2 #000000;
}



.mygas_seven{width:50%;height: 60vh;
	margin:0 auto
}

.mygas_seven img{width:100%;
	height: 60vh;padding-top:80px;
}





.myweather_seven{width:50%;height: 60vh;
	margin:0 auto
}

.myweather_seven img{width:100%;
	height: 60vh;padding-top:80px;
}


.myweather{width:100%;height:70vh;margin:0 auto;background-color:white;}
.myweather_main{width:50%;margin:0 auto;}

.myweather .myweather_title{font-size:18px;text-align: center;color:#646464;font-weight: 400}

.myweather .myweather_title h3{font-size:28px;padding-top:80px;margin-bottom: 10px;color:black;
font-weight: 800;}

.myweather_image img{width:100%;height: 90%;margin:60px auto;}




.box6{
    width: 100%;
    margin:0 auto;
	margin-top:100px;
	background-color:#fcfcfc;
	height: 70vh
}



.myride_seven{width:50%;height: 60vh;
	margin:0 auto
}

.myride_seven img{width:100%;
	height: 60vh;padding-top:80px;
}


.myride{width:100%;height:70vh;margin:0 auto;background-color:white;}
.myride_main{width:50%;margin:0 auto;}

.myride .myride_title{font-size:18px;text-align: center;color:#646464;font-weight: 400}

.myride .myride_title h3{font-size:28px;padding-top:80px;margin-bottom: 10px;color:black;
font-weight: 800;}

.myride_image img{width:100%;height: 90%;margin:60px auto;}



.box7{
    width: 100%;
    margin:0 auto;
	margin-top:100px;
	background-color:white;
}



.myfilter_seven{width:50%;height: 60vh;
	margin:0 auto
}

.myfilter_seven img{width:100%;
	height: 61vh;padding-top:80px;
}


.myfilter{width:100%;height:70vh;margin:0 auto;background-color:white;}
.myfilter_main{width:50%;margin:0 auto;}

.myfilter .myfilter_title{font-size:18px;text-align: center;color:#646464;font-weight: 400}

.myfilter .myfilter_title h3{font-size:28px;padding-top:80px;margin-bottom: 10px;color:black;
font-weight: 800;}

.myfilter_image img{width:100%;height: 90%;margin:60px auto;}



.box8{
    width: 100%;
    margin:0 auto;
	margin-top:100px;
	height:70vh;
	background-color:#fcfcfc;
}



.myfilter_seven{width:50%;height: 60vh;
	margin:0 auto
}

.myfilter_seven img{width:100%;
	height: 50vh;padding-top:80px;
}




.myaccident_seven{width:50%;height: 60vh;
	margin:0 auto
}

.myaccident_seven img{width:100%;
	height: 60vh;padding-top:80px;
}


.myaccident{width:100%;height:70vh;margin:0 auto;background-color:white;}
.myaccident_main{width:50%;margin:0 auto;}

.myaccident .myaccident_title{font-size:18px;text-align: center;color:#646464;font-weight: 400}

.myaccident .myaccident_title h3{font-size:28px;padding-top:80px;margin-bottom: 10px;color:black;
font-weight: 800;}

.myaccident_image img{width:100%;height:90%;margin:60px auto;}



.box9{
    width: 100%;
    margin:0 auto;
	margin-top:100px;
	background-color:white;
}



.myhome_seven{width:50%;height: 60vh;
	margin:0 auto
}

.myhome_seven img{width:100%;
	height: 60vh;padding-top:80px;
}



.myhome_seven{width:50%;height: 60vh;
	margin:0 auto
}

.myhome_seven img{width:100%;
	height: 50vh;padding-top:80px;
}


.myhome{width:100%;height:70vh;margin:0 auto;background-color:white;}
.myhome_main{width:50%;margin:0 auto;}

.myhome .myhome_title{font-size:18px;text-align: center;color:#646464;font-weight: 400}

.myhome .myhome_title h3{font-size:28px;padding-top:80px;margin-bottom: 10px;color:black;
font-weight: 800;}

.myhome_image img{width:100%;height:90%;margin:60px auto;}



.box10{
    width: 100%;
    margin:0 auto;
	margin-top:100px;
	background-color:#fcfcfc;
	height: 70vh
}




.myhome_seven{width:50%;height: 60vh;
	margin:0 auto
}

.myhome_seven img{width:100%;
	height: 60vh;padding-top:80px;
}

.bbutton{width:100%;height:40vh;margin:0 auto;background-color:white}
.bbutton .bt{width:50%;margin:0 auto;margin-top:40px;}
.bbutton .bt img{width:60%;height:120px;text-align: center;margin-left:20%;margin-top:180px;}


.footer .text {margin-left:240px;margin-top:-50px;color:black;}
.footer img{width:30%;margin-top:80px;}
.footer{width:100%;height: 40vh;background-color:#EBEBEB;}
.footer ul li{float:left;margin-left:10px;  display: inline-block;font-size: 14px;text-align: center;color:black;}
.footer_logo{width: 50%;height:40vh;margin:0 auto;}
.footer p{font-size: 16px;display: inline-block;text-align: center;margin-left:19%;margin-top:80px;}


